<div>
  <p><a href="/stargazers/{{username}}/logout" class="btn btn-primary pull-left" role="button" id="logout"> Logout </a></p><br>
</div><br>
<h1> {{header}} </h1>
<h1> Welcome back to Stargazer's!</h1>

<p><a href="/stargazers/{{username}}/nasa/archive" class="btn btn-primary" role="button"> NASA Archive </a></p>

<div id="lists">
  <h3> Your Exoplanet Lists </h3>
  <p> Click on a list to see/edit its contents </p>
<ul class="list-group">
  {{#each lists}}
  <li> <a href= "{{link}}" class="btn" role="button"> {{name}} </a> </li><br>
  {{/each}}
</ul>
<h4> Click <a href="/stargazers/{{username}}/newList" > here </a> to create a new list </h4>

</div>
